.wrap {
    margin-top: 2vh;
    margin-bottom: 2vh;
}

table {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.table>thead>tr>th {
    border-bottom: 0;
}

td:first-child, th:first-child {
    border-right: solid 1px #DDEFEF;
}

thead {
    position: relative;
    display: block;
    overflow: visible;
    will-change: transform;
}

thead th {
    min-width: 150px;
    height: 36px;
}

thead th:nth-child(1) {
    display: block;
    will-change: transform;
}

tbody {
    position: relative;
    display: block;
    overflow: scroll;
    height: 300px;
}

tbody td {
    min-width: 150px;
    min-height: 115px;
    height: 100%;
}

tbody tr td:nth-child(1) { 
    display: block; 
    height: 115px;
    will-change: transform;
}

tbody tr:nth-of-type(odd)>td {
    background-color: #f9f9f9;
}
tbody tr:nth-of-type(even)>td,
thead th:nth-child(1) {
    background-color: #ffffff;
}

.table-responsive>.table>tbody>tr>td, .table-responsive>.table>tbody>tr>th, .table-responsive>.table>tfoot>tr>td, .table-responsive>.table>tfoot>tr>th, .table-responsive>.table>thead>tr>td, .table-responsive>.table>thead>tr>th {
    white-space: normal;
}

/* Use this for the "select option for fixed first column 
** 'tbody tr td:nth-child(1)' and 'thead th:nth-child(1)' both need the class
*/
.pos-relative {
    position: relative;
}