hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

.wrap {
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.logo {
    width: 50px;
}

/* Used by main.js to toggle fixed first column */
.fixed-col {
    border-right: solid 1px #DDEFEF;
    position: absolute;
    top: auto;
    width: 96px;
    background-color: #fff;
}

tr:nth-of-type(odd)>td.fixed-col {
    background-color: #f9f9f9; /* Maintains striped table bg's when .fixed-col is applied */
}

.mleft {
    margin-left: 96px;
    display: block;
    border-top: none;
}

.table>thead>tr>th {
    border-bottom: 0;
}

td:first-child, th:first-child {
    border-right: solid 1px #DDEFEF;
}
